.container {
  height: 100vh;
  display: flex;
  align-content: center;
  background-color: #faf6f4;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.goConsoleBtn {
  position: absolute;
  top: 90px;
  right: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #5f6175;
}

.goConsoleBtn:hover {
  font-weight: 600;
}
