.projectItem {
  position: relative;
}

.projectBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #5f6175;
  position: relative;
  z-index: 100;
}

.projectBox > h1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
  letter-spacing: 0.03em;
}

.date {
  font-size: 0.8rem;
  letter-spacing: -0.05em;
}

.modal {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #eb2f06;
  transition: transform 150ms ease-in;
  z-index: 200;
}

.modal:hover {
  transform: scale(1.2);
}

.projectBox > .icon {
  display: inline-flex;
  height: inherit;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.2rem;
}

.checkDelete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 210px;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  z-index: 300;
}

.deleteTitle {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.deleteDesc {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.btn {
  font-size: 1rem;
  transition: transform 150ms ease-in;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.2);
}

.yes {
  color: #2ebc4f;
  margin-right: 2rem;
}

.no {
  color: #eb2f06;
}
