.firstForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 200px;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
}

.title > span {
  font-size: 0.8rem;
  position: absolute;
  right: 1.5rem;
}

.title > label {
  font-size: 1.5rem;
  font-weight: 600;
}

.title input {
  display: block;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  font-size: 0.9rem;
}

.title button {
  align-self: flex-end;
  width: 60px;
  padding: 0.5rem;
  color: #fff;
  font-weight: 500;
  background-color: #f47d31;
  border-radius: 6px;
  cursor: pointer;
}

.title button:hover {
  opacity: 0.8;
}
