.thirdForm {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oldTodo {
  width: 450px;
  height: 500px;
  margin-right: 5rem;
  background-color: #dbdde1;
  border-radius: 12px;
  padding: 1rem;
}

.oldTodo > h1 {
  padding: 0.5rem;
}
.newTodo {
  width: 450px;
  height: 500px;
  color: #fff;
  background-color: #06a6ff;
  border-radius: 12px;
  padding: 1rem;
}

.newTodo > h1 {
  padding: 0.5rem;
}

.newTodo input {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
}
