.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5rem;
}

.header {
  width: 100%;
  padding: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.header > h1 {
  margin-bottom: 2.5rem;
}

.header > span {
  margin-bottom: 2rem;
  margin-right: 5px;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.button {
  letter-spacing: 0.03em;
  font-size: 1em;
  font-weight: 600;
  color: #f47d31;
  cursor: pointer;
  transition: opacity 100ms ease-in;
}

.button:hover {
  opacity: 0.8;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4rem;
}

.form input {
  padding: 1rem;
  font-size: 1rem;
  border-bottom: 1px solid #413d45;
  margin-bottom: 1.5rem;
}

.form input:last-of-type {
  margin-bottom: 3.5rem;
}

.submit {
  padding: 0.9rem;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #ffce00;
  border-radius: 8px;
  transition: opacity 150ms ease-in;
  cursor: pointer;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.submit:hover {
  opacity: 0.8;
}
