.statusBox {
  position: absolute;
  top: 7rem;
  left: 5rem;
  font-size: 1.3rem;
  color: #5a6175;
}

.statusBox > button {
  font-size: 1.3rem;
  margin-right: 20px;
  color: #5a6175;
  cursor: pointer;
}
