.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  color: #5a6175;
}

.container > h1 {
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.container > ul > li {
  list-style-type: disc;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}
